<!-- Banner -->
<<section class="section pb-0">
    <div class="container">
       <div class="columns is-justify-content-space-between is-align-items-center">
          <div class="column is-7-desktop has-text-centered-mobile has-text-centered-tablet has-text-left-desktop">
             <h1 class="mb-4">SteamAPP</h1>
             <p class="mb-4">Welcome to the BETA steam API-based app</p>
             <form class="search-wrapper" action="search.html">
                
             </form>
          </div>
       </div>
    </div>
 </section>


 <!-- topics -->
<section class="section pb-0">
    <div class="container">
       <div class="columns is-multiline">
          <!-- topic -->
          <div class="column is-3-widescreen is-4-desktop is-6-tablet">
             <div class="card match-height">
                <div class="card-body">
                   <i class="card-icon ti-panel mb-5"></i>
                   <h3 class="card-title h4">Profile</h3>
                   <p class="card-text">View Yourself...</p>
                   <a href="/profile" class="stretched-link"></a>
                </div>
             </div>
          </div>
          <!-- topic -->
          <div class="column is-3-widescreen is-4-desktop is-6-tablet">
             <div class="card match-height">
                <div class="card-body">
                   <i class="card-icon ti-credit-card mb-5"></i>
                   <h3 class="card-title h4">Games</h3>
                   <p class="card-text">View All Games...</p>
                   <a href="/steamgames" class="stretched-link"></a>
                </div>
             </div>
          </div>
          <!-- topic -->
          <div class="column is-3-widescreen is-4-desktop is-6-tablet">
             <div class="card match-height">
                <div class="card-body">
                   <i class="card-icon ti-package mb-5"></i>
                   <h3 class="card-title h4">Game Search</h3>
                   <p class="card-text">Search Single Game...</p>
                   <a href="/steamgame/search" class="stretched-link"></a>
                </div>
             </div>
          </div>
