<!-- Banner -->
<<section class="section pb-0">
    <div class="container">
       <div class="columns is-justify-content-space-between is-align-items-center">
          <div class="column is-7-desktop has-text-centered-mobile has-text-centered-tablet has-text-left-desktop">
             <h1 class="mb-4">SteamAPI</h1>
             <p class="mb-4">Type words here...</p>
             <form class="search-wrapper" action="search.html">
                <input id="search-by" name="s" type="search" class="input input-lg"
                   placeholder="Search Here...">
                <button type="submit" class="btn btn-primary">Search</button>
             </form>
          </div>
       </div>
    </div>
 </section>


 <!-- topics -->
<section class="section pb-0">
    <div class="container">
       <h2 class="section-title">... words ...</h2>
       <div class="columns is-multiline">
          <!-- topic -->
          <div class="column is-3-widescreen is-4-desktop is-6-tablet">
             <div class="card match-height">
                <div class="card-body">
                   <i class="card-icon ti-panel mb-5"></i>
                   <h3 class="card-title h4">Connect</h3>
                   <p class="card-text">Find Gamers...</p>
                   <a href="/add_friend" class="stretched-link"></a>
                </div>
             </div>
          </div>
          <!-- topic -->
          <div class="column is-3-widescreen is-4-desktop is-6-tablet">
             <div class="card match-height">
                <div class="card-body">
                   <i class="card-icon ti-credit-card mb-5"></i>
                   <h3 class="card-title h4">News</h3>
                   <p class="card-text">Steam News...</p>
                   <a href="/news" class="stretched-link"></a>
                </div>
             </div>
          </div>
          <!-- topic -->
          <div class="column is-3-widescreen is-4-desktop is-6-tablet">
             <div class="card match-height">
                <div class="card-body">
                   <i class="card-icon ti-package mb-5"></i>
                   <h3 class="card-title h4">Upcoming Games</h3>
                   <p class="card-text">Latest Upcoming Games...</p>
                   <a href="/upcoming_games" class="stretched-link"></a>
                </div>
             </div>
          </div>
