<section class="pt-6">
    <h2 class="mb-4 has-text-weight-medium">Single Game - <a class="has-text-weight-light"
        href="./steamgame/search">Search</a></h2>
    <table class="table">
        <thead>
            <tr>

                <th><abbr title="name">Name</abbr></th>

                <th><abbr title="appid">Appid</abbr></th>

            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < gamedata.applist.apps.length; i++) { %>
            <tr>

                <td><a href="/steamgame/<%= gamedata.applist.apps[i].appid %>"><%= gamedata.applist.apps[i].name %></a>
                </td>

                <td><%= gamedata.applist.apps[i].appid %></td>

            </tr>
            <% } %>
    </table>
</section>
