<section class="pt-6">
    <h2 class="mb-4 has-text-weight-medium">Single Game - <a class="has-text-weight-light"
        href="./steamgame/search">Search</a></h2>
        <ul>
            <li class="sidelist parent active">
                <a href="./steamgame/<%= gamedata.applist.apps[0].appid %>"><%= gamedata.applist.apps[0].name %></a>
            </li>
            <% gamedata.applist.apps.forEach((game)=> { %>
                <% if (gamedata.applist.apps[0].appid !== gamedata.applist.apps[0].appid) { %>
                    <li class="sidelist">
                        <a href="./steamgame/<%= gamedata.applist.apps[0].appid %>"><%= gamedata.applist.apps[0].name %></a>
                    </li>
                <% } %>
            <% }); %>
        </ul>
</section>
